#about{
    margin: 70px;
    padding-top: 60px;
}
.aboutme h1{
    padding: 0;
    margin-top: 10px;
}
.aboutme{
    color: white;
    padding: 10px;
    margin-top: 70px;
    box-shadow: 0px 0px 5px rgb(128, 0, 90),1px 0px 5px rgb(125, 227, 210);
    font-size: 25px;
    font-weight: lighter;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #about{
        margin: 20px;
        padding: 0;
    }
    .aboutme{
        font-size: 20px;
        font-weight: lighter;
    }
}