.skills{
  box-shadow:0px 0px 5px rgb(128, 0, 90),1px 0px 5px rgb(125, 227, 210);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}


h2{
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: white;
}
.skills h1{
    font-size: 30px;
    color: white;
    padding: 10px;
    margin: 10px;
}


img{
  height: 40px;
  width: 40px;
}
.div1{
  color: white;
  margin: 0 auto;
  padding: 2em;
  width: 70px;
  height: 70px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.div1:hover::after, .div1:hover::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),rgb(128, 0, 90),  rgb(125, 227, 210));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.div1:hover::before{
  filter: blur(1.5rem);
  opacity: 1;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.skill1,.skill2,.skill3,.skill4,.skill5{
  color: white;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.div2{
  color: white;
  margin: 0 auto;
  padding: 2em;
  width: 70px;
  height: 70px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.languages,.frontend,.dbandtools,.softskills{
  display: flex;
  gap: 10px;
}

.div2:hover::after, .div2:hover::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),rgb(128, 0, 90),  rgb(125, 227, 210));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.div2:hover::before{
  filter: blur(1.5rem);
  opacity: 1;
}

@media (max-width:740px){
  .languages,.frontend,.dbandtools,.softskills{
    display: grid;
    grid-template-columns: auto auto  ;
    gap: 10px;
  }


}